.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 20px 8px 20px;
    background-color: peru;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 10px 20px 10px 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.post-text {
    margin: .8em 8px 0 8px;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 70em) {
    .post-body {
        margin: 10px 20% 0 20%;
    }
    .post-header {
        display: block;
        padding: 5% 20% 8px 20%;
    }
}